:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}

.ant-btn-primary {
  background-color: #a85757;
  border-color: #a85757;
  height: 40px;

  &:hover {
    background-color: #b96b6b !important;
  }
}
